.multiline {
    white-space: pre-wrap;
}

.headshot {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.top-bar > a {
    margin: 5px;
}

.top-bar {
    display: inline-flex;
    justify-content: end;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.main-content {
    display: flex;
}

.main-content > div {
    width: 50%;
}