@import 'src/app/global-styles/constants.scss';

.mat-toolbar {
    display: inline-flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark-green;
    color: white;
}

.mat-toolbar > * {
    padding: 15px;
}

.nav-item {
    display: block;
    text-align: center;
    font-size: 10px;
    margin: 10px 0 10px 0;
}

.nav-item-highlight {
    background-color: $medium-green;
}

a {
    color: white;
}

.icon {
    padding: 0;
}

@media (max-width: $super-small-page-size) {
    .mat-toolbar > * {
        margin: 0;
    }

    .icon {
        width: 15px;
        height: 15px;
    }
}