<mat-toolbar *ngIf="screenIsSmall || screenIsSuperSmall">
  <div routerLink="" class="nav-item">
    <img class="icon" src="/assets/images/home.png" />
    <h3 *ngIf="!screenIsSuperSmall">Home</h3>
  </div>
  <span class="dot-separator">&bull;</span>
  <div routerLink="portfolio" class="nav-item">
    <img class="icon" src="/assets/images/portfolio.png" />
    <h3 *ngIf="!screenIsSuperSmall">Portfolio</h3>
  </div>
  <span class="dot-separator">&bull;</span>
  <div routerLink="skills" class="nav-item">
    <img class="icon" src="/assets/images/skills.png" />
    <h3 *ngIf="!screenIsSuperSmall">Skills</h3>
  </div>
  <span class="dot-separator">&bull;</span>
  <div routerLink="recommendations" class="nav-item">
    <img class="icon" src="/assets/images/like.png" />
    <h3 *ngIf="!screenIsSuperSmall">Recommendations</h3>
  </div>
  <span class="dot-separator">&bull;</span>
  <div class="nav-item">
    <a href="https://colehendo.s3.amazonaws.com/cole-henderson-resume.pdf"
      ><img class="icon" src="/assets/images/user.png" />
      <h3 *ngIf="!screenIsSuperSmall">Resume</h3></a
    >
  </div>
</mat-toolbar>
