<mat-toolbar *ngIf="screenIsSmall">
  <div class="page" routerLink="">
    <img class="icon" src="../../assets/images/home.png" />
  </div>
  <span class="dot-separator">&bull;</span>
  <div class="page" routerLink="projects">
    <img class="icon" src="../../assets/images/projects.png" />
  </div>
  <span class="dot-separator">&bull;</span>
  <div class="page" routerLink="recommendations">
    <img class="icon" src="../../assets/images/like.png" />
  </div>
  <span class="dot-separator">&bull;</span>
  <a href="https://colehendo.s3.amazonaws.com/cole-henderson-resume.pdf"
    ><img class="icon" src="../../assets/images/user.png" />
  </a>
</mat-toolbar>
