@import 'src/app/global-styles/constants.scss';

#project-header {
    display: flex;
    justify-content: space-between;
}

#language-list {
    display: flex;
    flex-wrap: wrap;
}

#language-list > div {
    display: flex;
    align-items: center;
}

#language-list > div > .dot-separator {
    color: $navy;
    padding-right: 10px;
    padding-left: 10px;
}

.full-description {
    display: inline-flex;
    margin-bottom: 10px;
}

.full-description > p {
    margin: 10px 0 0 5px;
}

h4 {
    color: $dark-green;
    margin: 0;
}
