<div @fade-in class="main-content">
  <div>
    <h2 class="page-title non-selection-list-items">Recommendations</h2>
    <div *ngIf="!screenIsBig">
      <mat-select
        class="page-items-dropdown-selection"
        [(value)]="selectedRecommendation"
        panelClass="page-items-dropdown-panel"
      >
        <mat-option
          *ngFor="let recommendation of recommendations"
          [value]="recommendation"
        >
          <h3>{{ recommendation.name }}</h3>
        </mat-option>
      </mat-select>
    </div>
    <div *ngIf="screenIsBig" class="selection-list-items">
      <div *ngFor="let recommendation of recommendations; let index = index">
        <div
          @fade-in
          *ngIf="index <= recommendationCountToShow || showAllRecommendations"
          class="selection-list-item"
          [ngClass]="{
            'not-selected-selection-list-item':
              selectedRecommendationID !== index,
            'selected-selection-list-item': selectedRecommendationID === index
          }"
          (click)="selectRecommendation(index)"
        >
          <h3>{{ recommendation.name }}</h3>
          <span>{{ recommendation.title }}, {{ recommendation.company }}</span>
        </div>
      </div>
      <span
        *ngIf="screenIsBig && !showAllRecommendations"
        class="show-more non-selection-list-items"
        (click)="toggleShowAllRecommendations()"
        >Show more &#8595;</span
      >
    </div>
  </div>
  <div [@fade-in]="showRecommendation" class="page-right-column">
    <img class="logo" src="/assets/images/quote.png" />
    <p class="multiline">
      {{ selectedRecommendation.recommendation }}
    </p>
    <div id="signature">
      <div>
        <h4>- {{ selectedRecommendation.name }}</h4>
        <span *ngIf="!screenIsBig"
          >{{ selectedRecommendation.title }},
          {{ selectedRecommendation.company }}</span
        >
        <span>{{ selectedRecommendation.relation }}</span>
      </div>
      <a
        [href]="selectedRecommendation.linkedin"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          class="logo navy-logo linkedin-logo"
          src="/assets/images/linkedin-navy.png"
      /></a>
    </div>
  </div>
</div>
