<div @pageLoadAndLeave class="main-content">
  <div>
    <h2 class="page-title">Recommendations</h2>
    <div *ngIf="!screenIsBig">
      <mat-select
        class="page-items-dropdown-selection"
        [(value)]="selectedRecommendation"
        panelClass="page-items-dropdown-panel"
      >
        <mat-option
          *ngFor="let recommendation of recommendations"
          [value]="recommendation"
        >
          <h3>{{ recommendation.name }}</h3>
        </mat-option>
      </mat-select>
    </div>
    <div *ngIf="screenIsBig">
      <div *ngFor="let recommendation of recommendations; let index = index">
        <div
          class="page-list-item"
          [ngClass]="{
            'not-selected-page-list-item': selectedRecommendationID !== index,
            'selected-page-list-item': selectedRecommendationID === index
          }"
          (click)="selectRecommendation(index)"
        >
          <h3>{{ recommendation.name }}</h3>
          <span>{{ recommendation.title }}, {{ recommendation.company }}</span>
        </div>
      </div>
    </div>
  </div>
  <div [@fade]="showRecommendation" class="page-right-column">
    <img class="logo" src="../../assets/images/quote.png" />
    <p class="multiline">
      {{ selectedRecommendation.recommendation }}
    </p>
    <div id="signature">
      <div>
        <h4>- {{ selectedRecommendation.name }}</h4>
        <span *ngIf="!screenIsBig"
          >{{ selectedRecommendation.title }},
          {{ selectedRecommendation.company }}</span
        >
        <span>{{ selectedRecommendation.relation }}</span>
      </div>
      <a [href]="selectedRecommendation.linkedin"
        ><img class="logo" src="../../assets/images/linkedin-navy.png"
      /></a>
    </div>
  </div>
</div>
