@import 'src/app/global-styles/constants.scss';

.mat-toolbar {
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $dark-green;
    color: white;
}

.mat-toolbar > * {
    display: inline-flex;
    align-items: center;
}

#left-top-bar > *, #right-top-bar > * {
    padding: 10px;
    align-items: center;
    display: inline-flex;
}

.nav-item:hover {
    cursor: pointer;
    background-color: $medium-green;
}


a {
    color: white;
}

.dot-separator {
    color: $cream;
}

@media (max-width: $medium-page-size) and (min-width: $small-page-size) {
    #left-top-bar > div, #left-top-bar > a {
        display: block;
        text-align: center;
        font-size: 8px;
    }

    a {
        font-size: 12px;
    }
}

@media (max-width: $small-page-size) and (min-width: $super-small-page-size) {
    .mat-toolbar {
        justify-content: end;
    }

    a {
        font-size: 12px;
    }
}

@media (max-width: $super-small-page-size) {
    .mat-toolbar {
        justify-content: end;
    }

    a {
        font-size: 8px;
    }
}