<mat-toolbar>
  <div *ngIf="!screenIsSmall && !screenIsSuperSmall" id="left-top-bar">
    <div routerLink="" class="nav-item">
      <img class="icon" src="/assets/images/home.png" />
      <h3>Home</h3>
    </div>
    <span class="dot-separator">&bull;</span>
    <div routerLink="skills" class="nav-item">
      <img class="icon" src="/assets/images/skills.png" />
      <h3 *ngIf="!screenIsSuperSmall">Skills</h3>
    </div>
    <span class="dot-separator">&bull;</span>
    <div routerLink="portfolio" class="nav-item">
      <img class="icon" src="/assets/images/portfolio.png" />
      <h3>Portfolio</h3>
    </div>
    <span class="dot-separator">&bull;</span>
    <div routerLink="recommendations" class="nav-item">
      <img class="icon" src="/assets/images/like.png" />
      <h3>Recommendations</h3>
    </div>
    <span class="dot-separator">&bull;</span>
    <a href="/assets/cole-henderson-resume.pdf" class="nav-item"
      ><img class="icon" src="/assets/images/user.png" />
      <h3>Resume</h3></a
    >
  </div>
  <div id="right-top-bar">
    <a
      *ngIf="!screenIsSuperSmall"
      href="https://mail.google.com/mail/?view=cm&source=mailto&to=cole.hendo.tech@gmail.com"
      >cole.hendo.tech@gmail.com</a
    >
    <a href="https://github.com/colehendo"
      ><img class="logo" src="/assets/images/github.png"
    /></a>
    <a href="https://www.linkedin.com/in/colehendo/"
      ><img class="logo" src="/assets/images/linkedin.png"
    /></a>
  </div>
</mat-toolbar>
