// Colors
$cream: rgb(230, 227, 211);
$navy: rgb(0, 0, 77);
$dark-green: rgb(5, 71, 42);
$opaque-dark-green: rgb(5, 71, 42, .25);

// Pixel values
$column-width: 508px;
$medium-page-size: 1216px;
$small-page-size: 700px;