<div class="main-content">
  <div>
    <div id="introduction-head">
      <div>
        <h2>Hi, I'm</h2>
        <h1>Cole</h1>
      </div>
      <div class="headshot">
        <img src="../../../assets/images/headshot.png" />
      </div>
    </div>
    <h1>Henderson</h1>
    <div class="descriptor-list">
      <h3>engineer</h3>
      <span class="dot-seperator">&bull;</span>
      <h3>engineer</h3>
      <span class="dot-seperator">&bull;</span>
      <h3>engineer</h3>
    </div>
  </div>
  <div id="personal-info-statement">
    <p>
      Here is some information about me. This will eventually be replaced by
      something else super cool, and probably should be pulled from a text file,
      but for now this is how we're going to do it. Hope you enjoy!
    </p>
  </div>
</div>
