<div
  [@pageLoad]="{ params: { firstPageLoad: firstPageLoad } }"
  class="main-content"
>
  <div>
    <div id="hi-im-cole-henderson">
      <div id="hi-im-cole">
        <div>
          <div id="hi-im">
            <h2 @hi>Hi,</h2>
            <h2 @im>I'm</h2>
          </div>
          <h1 @introductionCore>Cole</h1>
        </div>
        <div @introductionCore class="headshot">
          <img src="../../../assets/images/headshot.png" />
        </div>
      </div>
      <h1 @introductionCore>Henderson</h1>
    </div>
    <div class="descriptor-list">
      <h3 @firstDescriptor>engineer</h3>
      <span @secondDescriptor class="dot-separator">&bull;</span>
      <h3 @secondDescriptor>inquirer</h3>
      <span @thirdDescriptor class="dot-separator">&bull;</span>
      <h3 @thirdDescriptor>adventurer</h3>
    </div>
  </div>
  <div @statement *ngIf="showStatement" id="personal-info-statement">
    <p class="multiline">{{ statementStart }}</p>
    <div
      *ngFor="let project of statementProjectsList"
      class="personal-info-statement-project"
    >
      <span>-</span>
      <span class="multiline">{{ project }}</span>
    </div>
    <p class="multiline">{{ statementEnd }}</p>
  </div>
</div>
