@import 'src/app/global-styles/constants.scss';

.main-content {
    align-items: center;
}

.main-content > div {
    text-align: center;
}

#hi-im {
    display: flex;
}

#hi-im > h2 {
    margin-right: 10px;
}

#hi-im-cole {
    display: flex;
    justify-content: space-between;
}

#hi-im-cole-henderson {
    display: inline-block;
}

.descriptor-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.descriptor-list > * {
    margin: 5px;
}

.dot-separator {
    color: $dark-green;
}

#personal-info-statement-container {
    display: flex;
    align-items: center;
}

#personal-info-statement > p {
    text-align: justify;
}

#personal-info-statement-bullets {
    display: inline-flex;
    width: 90%;
}

#personal-info-statement-bullets > p {
    text-align: justify;
    margin: 10px 0 0 5px;
}

.headshot {
    display: flex;
    align-items: center;
}

.headshot > img {
    border-radius: 50%;
    height: 195px;
    width: 195px;
}

@media (max-height: $short-page-size) {
    #personal-info-statement-container {
        align-items:normal;
    }

    #personal-info-statement-end {
        padding-bottom: 50px;
    }
}

@media (max-width: $medium-page-size) and (min-width: $small-page-size) {
    #personal-info-statement-container {
        align-items:normal;
    }
}

@media (max-width: $small-page-size) and (min-width: $super-small-page-size) {
    #personal-info-statement-container {
        align-items:normal;
    }

    #personal-info-statement-bullets > span {
        margin-top: 6px;
    }

    h3, .dot-separator {
        font-size: 15px;
    }

    .headshot > img {
        height: 110px;
        width: 110px;
    }
}

@media (max-width: $super-small-page-size) {
    #personal-info-statement-container {
        align-items:normal;
    }

    #personal-info-statement-bullets > span {
        margin-top: 7px;
    }

    h3, .dot-separator {
        font-size: 10px;
    }

    .headshot > img {
        height: 80px;
        width: 80px;
    }
}
