<div class="main-content">
  <div>
    <h2 class="page-title">Projects</h2>
    <div *ngFor="let project of projects; let index = index">
      <div
        class="page-list-item"
        [ngClass]="{
          'not-selected-page-list-item': selectedProjectID !== index,
          'selected-page-list-item': selectedProjectID === index
        }"
        (click)="selectProject(index)"
      >
        <h3 style="margin: 0">{{ project.name }}</h3>
        <p style="margin: 0">
          {{ project.short_description }}
        </p>
      </div>
    </div>
  </div>
  <div class="page-right-column">
    <div id="project-header">
      <div id="language-list">
        <div
          *ngFor="let language of selectedProject.languages; let last = last"
        >
          <h4>
            {{ language }}
          </h4>
          <span *ngIf="!last" class="dot-seperator">&bull;</span>
        </div>
      </div>
      <div>
        <a [href]="selectedProject.link"
          ><img class="logo" src="../../assets/images/github.png"
        /></a>
      </div>
    </div>
    <p>
      {{ selectedProject.full_description }}
    </p>
  </div>
</div>
