<div @pageLoadAndLeave class="main-content">
  <div>
    <h2 class="page-title">Projects</h2>
    <div *ngIf="!screenIsBig">
      <mat-select
        class="page-items-dropdown-selection"
        [(value)]="selectedProject"
        panelClass="page-items-dropdown-panel"
      >
        <mat-option *ngFor="let project of projects" [value]="project">
          <h3>{{ project.name }}</h3>
        </mat-option>
      </mat-select>
    </div>
    <div *ngIf="screenIsBig" class="page-list-items">
      <div
        *ngFor="let project of projects; let index = index"
        class="page-list-item"
        [ngClass]="{
          'not-selected-page-list-item': selectedProjectID !== index,
          'selected-page-list-item': selectedProjectID === index
        }"
        (click)="selectProject(index)"
      >
        <h3>{{ project.name }}</h3>
        <p>
          {{ project.short_description }}
        </p>
      </div>
    </div>
  </div>
  <div [@fade]="showProject" class="page-right-column">
    <div id="project-header">
      <div id="language-list">
        <div
          *ngFor="let language of selectedProject.languages; let last = last"
        >
          <h4>
            {{ language }}
          </h4>
          <span *ngIf="!last" class="dot-separator">&bull;</span>
        </div>
      </div>
      <div>
        <a [href]="selectedProject.link"
          ><img class="logo" src="../../assets/images/github-navy.png"
        /></a>
      </div>
    </div>
    <p class="multiline">
      {{ selectedProject.full_description }}
    </p>
  </div>
</div>
