@import 'src/app/constants.scss';

#project-header {
    display: flex;
    justify-content: space-between;
}

#language-list {
    display: flex;
    flex-wrap: wrap;
}

#language-list > div {
    display: flex;
    align-items: center;
}

#language-list > div > .dot-separator {
    color: $dark-green;
    padding: 2px 10px 0 10px;
}

h4 {
    color: $dark-green;
    margin: 0;
}


