// Colors
$cream: rgb(230, 227, 211);
$navy: rgb(0, 0, 77);
$dark-green: rgb(5, 71, 42);
$medium-green: rgb(173, 188, 169);

// Pixel values
$column-width: 508px;
$medium-page-size: 1216px;
$small-page-size: 775px;
$super-small-page-size: 330px;

$short-page-size: 875px;