@import 'src/app/global-styles/constants.scss';

.nav-item {
    border-radius: 25px;
    transition: background-color 0.2s
}

.nav-item:hover {
    cursor: pointer;
    background-color: $medium-green;
}
