@import 'src/app/global-styles/constants.scss';


.main-content {
    display: flex;
    justify-content: center;
    min-height: 100%;
    margin-top: 70px;
}

.main-content > div {
    max-width: $column-width;
    margin: 50px;
}

.page-title {
    margin-bottom: 40px;
}

.page-right-column {
    padding-top: 90px;
    max-width: $column-width;
}

.non-page-list-items {
    padding-left: 12px;
}

.show-more:hover {
    cursor: pointer;
}
