@import 'src/app/global-styles/constants.scss';


.selection-list-items {
    overflow-y: auto;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.selection-list-items::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome and Safari */
}

.fade-bottom-of-selection-list-items {
    mask-image: linear-gradient(white 85%, transparent);
}

.non-selection-list-items {
    padding-left: 12px;
}

.show-more:hover {
    cursor: pointer;
}

.selection-list-item {
    width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid $dark-green;
    border-radius: 25px;
    transition:
        background-color 0.2s,
        color 0.2s;
}

.selection-list-item > * {
    margin: 0;
}

.selection-list-item:hover {
    cursor: pointer;
}

.selected-selection-list-item {
    background-color: $dark-green;
    color: white;
}

.selected-selection-list-item:hover {
    cursor: pointer;
}

.not-selected-selection-list-item:hover {
    background-color: $medium-green;
    color: white;
}
