@import 'src/app/global-styles/constants.scss';


body {
    font-family: 'Futura', sans-serif;
    color: $navy;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 0;
}

p {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.dot-separator {
    font-size: 25px;
    padding-top: 4px;
}

.multiline {
    white-space: pre-wrap;
    margin-top: 0;
}
