@import 'src/app/constants.scss';
@import "~@angular/cdk/overlay-prebuilt.css";

/*
Core
*/

body {
    margin: 0;
    background-color: $cream;
}

body {
    overflow-y: auto;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome and Safari */
}


/*
Font
*/

body {
    font-family: 'Futura', sans-serif;
    color: $navy;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 0;
}

p {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.multiline {
    white-space: pre-wrap;
    margin-top: 0;
}


/*
Images
*/

.logo {
    width: 50px;
    height: 50px;
}

.icon {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}


/*
Main Pages
*/

.main-content {
    display: flex;
    justify-content: center;
    min-height: 100%;
    margin-top: 70px;
}

.main-content > div {
    max-width: $column-width;
    margin: 50px;
}

.page-title {
    margin-bottom: 40px;
}

.page-right-column {
    padding-top: 90px;
    max-width: $column-width;
}

.dot-separator {
    font-size: 25px;
}

.descriptor-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.descriptor-list > * {
    margin: 5px;
}


/*
Selection List
*/

.page-list-items {
    max-height: 55vh;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */

    mask-image: linear-gradient(white 85%, transparent);
    padding-bottom: 60px;
}

.page-list-items::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome and Safari */
}

.page-list-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid $dark-green;
    border-radius: 25px;
    transition:
        background-color 0.2s,
        color 0.2s;
}

.page-list-item > * {
    margin: 0;
}

.page-list-item:hover {
    cursor: pointer;
}

.selected-page-list-item {
    background-color: $dark-green;
    color: white;
}

.selected-page-list-item:hover {
    cursor: pointer;
}

.not-selected-page-list-item:hover {
    background-color: $opaque-dark-green;
    color: white;
}


/*
Drop Down
*/

.page-items-dropdown-panel.mat-mdc-select-panel {
    background: $dark-green;
    color: white;
    border-radius: 25px !important;
    font-weight: 600;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.page-items-dropdown-panel.mat-mdc-select-panel::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome and Safari */
}

.page-items-dropdown-selection {
    width: 50% !important;
    font-weight: 600 !important;
    padding: 10px;
    border: 3px solid $dark-green;
    border-radius: 25px;
}

.page-items-dropdown-selection:hover {
    background-color: $opaque-dark-green;
    color: white;
}

.cdk-overlay-container .cdk-overlay-pane{
    margin: 20px 0 0 -12px;
}


/*
Small Screen
*/

@media (min-width: $medium-page-size) {
    body {
        height: 90vh;
    }
}

@media (max-width: $medium-page-size) and (min-width: $small-page-size) {
    .main-content {
        display: block;
        margin: 120px 0 50px 0;
    }

    .main-content > div {
        max-width: $column-width;
        margin: auto;
    }

    .page-right-column {
        padding-top: 30px;
    }

    .icon {
        padding-right: 0;
    }
}

@media (max-width: $small-page-size) and (min-width: $super-small-page-size) {
    .main-content {
        display: block;
        margin: 120px 35px 100px 35px;
    }

    .main-content > div {
        margin: auto;
    }

    .page-right-column {
        padding-top: 30px;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 30px;
    }
}

@media (max-width: $super-small-page-size) {
    .main-content {
        display: block;
        margin: 120px 35px 100px 35px;
    }

    .main-content > div {
        margin: auto;
    }

    .page-right-column {
        padding-top: 30px;
    }

    .page-items-dropdown-selection {
        width: 75% !important;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}