@import 'src/app/constants.scss';
@import "~@angular/cdk/overlay-prebuilt.css";

html {
    min-height: 100%;
}

body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    background-color: $cream;
    color: $navy;
    height: 90vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 0;
}

p {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}

.icon {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.multiline {
    white-space: pre-wrap;
    margin-top: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    height: 100%;
}

.main-content > div {
    max-width: $column-width;
    margin: 50px;
}

.dot-separator {
    font-size: 25px;
}

.descriptor-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.descriptor-list > * {
    margin: 5px;
}

.page-title {
    margin-bottom: 40px;
}

.page-list-items {
    max-height: 55vh;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */

    mask-image: linear-gradient(white 85%, transparent);
    padding-bottom: 60px;
}

.page-list-items::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome and Safari */
}

.page-list-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid $dark-green;
    border-radius: 25px;
    transition:
        background-color 0.2s,
        color 0.2s;
}

.page-list-item > * {
    margin: 0;
}

.page-list-item:hover {
    cursor: pointer;
}

.selected-page-list-item {
    background-color: $dark-green;
    color: white;
}

.selected-page-list-item:hover {
    cursor: pointer;
}

.not-selected-page-list-item:hover {
    background-color: $opaque-dark-green;
    color: white;
}

.page-right-column {
    padding-top: 90px;
    width: $column-width;
}

.page-items-dropdown-panel.mat-mdc-select-panel {
    background: $dark-green;
    color: white;
    border-radius: 25px !important;
    font-weight: 600;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.page-items-dropdown-panel.mat-mdc-select-panel::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome and Safari */
}

.page-items-dropdown-selection {
    width: 50% !important;
    font-weight: 600 !important;
    padding: 10px;
    border: 3px solid $dark-green;
    border-radius: 25px;
}


.page-items-dropdown-selection:hover {
    background-color: $opaque-dark-green;
    color: white;
}

.cdk-overlay-container .cdk-overlay-pane{
    margin: 20px 0 0 -10px;
 }

@media (max-width: $medium-page-size) {
    .main-content {
        display: block;
        margin-top: 50px;
        height: 100%;
    }

    .main-content > div {
        max-width: $column-width;
        margin: auto;
    }

    .icon {
        padding-right: 0;
    }
}