@import 'src/app/global-styles/constants.scss';


@media (max-width: $medium-page-size) and (min-width: $small-page-size) {
    .main-content {
        display: block;
        margin: 120px 0 50px 0;
    }

    .main-content > div {
        max-width: $column-width;
        margin: auto;
    }

    .page-right-column {
        padding-top: 30px;
    }

    .icon {
        padding-right: 0;
    }
}
