@import 'src/app/global-styles/constants.scss';


@media (max-width: $super-small-page-size) {
    .main-content {
        display: block;
        margin: 120px 35px 100px 35px;
    }

    .main-content > div {
        margin: auto;
    }

    .page-right-column {
        padding-top: 30px;
    }

    .page-items-dropdown-selection {
        width: 75% !important;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}
