<mat-toolbar>
  <div id="left-top-bar">
    <div class="page" routerLink="">
      <img class="icon" src="../../assets/images/home.png" />
      <h3 *ngIf="screenIsFullSize">Home</h3>
    </div>
    <span class="dot-separator">&bull;</span>
    <div class="page" routerLink="projects">
      <img class="icon" src="../../assets/images/projects.png" />
      <h3 *ngIf="screenIsFullSize">Projects</h3>
    </div>
    <span class="dot-separator">&bull;</span>
    <div class="page" routerLink="recommendations">
      <img class="icon" src="../../assets/images/like.png" />
      <h3 *ngIf="screenIsFullSize">Recommendations</h3>
    </div>
    <span class="dot-separator">&bull;</span>
    <a href="https://colehendo.s3.amazonaws.com/cole-henderson-resume.pdf"
      ><img class="icon" src="../../assets/images/user.png" />
      <h3 *ngIf="screenIsFullSize">Resume</h3></a
    >
  </div>
  <div id="right-top-bar">
    <a
      href="https://mail.google.com/mail/?view=cm&source=mailto&to=cole.hendo.tech@gmail.com"
    >
      <h3>cole.hendo.tech@gmail.com</h3></a
    >
    <a href="https://github.com/colehendo"
      ><img class="logo" src="../../assets/images/github.png"
    /></a>
    <a href="https://www.linkedin.com/in/colehendo/"
      ><img class="logo" src="../../assets/images/linkedin.png"
    /></a>
  </div>
</mat-toolbar>
