@import 'src/app/colors.scss';

.mat-toolbar {
    display: inline-flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: $dark-green;
    color: white;
}

.mat-toolbar > * {
    display: inline-flex;
    align-items: center;
}

#left-top-bar > *, #right-top-bar > * {
    padding: 10px;
    align-items: center;
    display: inline-flex;
}

.page:hover {
    cursor: pointer;
}

a {
    color: white;
}

.dot-separator {
    color: $cream;
}